# Web Interface
streamlit

# Deep Learning
torch
torchvision
transformers>=4.38,<5

# OCR
pytesseract
Pillow

# Embeddings
sentence-transformers>=2.6,<4
nomic
einops

# Vector Database
qdrant-client

# Utilities
numpy
tqdm
